Repository lslavuj/express-rest-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "**/*.{js,ts}": ["eslint --fix", "prettier -w"],
  "**/*.{md,mdx,json}": ["prettier -w"]
}

refactor: changes script name for checking branch name
  .husky/pre-commit
  package.json
Due: prettier -w

feat: add docker compose
  docker-compose.yml
  package.json
Due: prettier -w

feat: add docker and husky to gitignore
  .gitignore
Due: none

refactor: changes script name
  package.json
Due: prettier -w

feat: adds new package.json scripts and packages
  package-lock.json
  package.json
Due: prettier -w

feat: adds chalk and dotenv
  .env.example
  package-lock.json
  package.json
  src/app.ts
Due: eslint --fix, prettier -w

feat: adds package.json info
  package.json
Due: prettier -w

feat: adds rules from eslintrc
  .eslintrc.json
Due: prettier -w

fix: changes start script
  package.json
Due: prettier -w

refactor: changes server location
  bin/www/server.ts
Due: eslint --fix, prettier -w

feat: adds basic test routes and crud
  src/app.ts
  src/services/testService/createTest/createTest.controller.ts
  src/services/testService/createTest/createTest.ts
  src/services/testService/deleteTest/deleteTest.constroller.ts
  src/services/testService/deleteTest/deleteTest.ts
  src/services/testService/getTest/getTest.constroller.ts
  src/services/testService/getTest/getTest.ts
  src/services/testService/routes.ts
  src/services/testService/updateTest/updateTest.constroller.ts
  src/services/testService/updateTest/updateTest.ts
Due: eslint --fix, prettier -w

fix: changes controller names
  src/services/testService/deleteTest/deleteTest.controller.ts
  src/services/testService/getTest/getTest.controller.ts
  src/services/testService/updateTest/updateTest.controller.ts
Due: eslint --fix, prettier -w

feat: adds middlewares
  bin/www/server.ts
  package-lock.json
  package.json
  src/app.ts
  tsconfig.json
Due: eslint --fix, prettier -w

fix: adds id on routes
  src/services/testService/routes.ts
Due: eslint --fix, prettier -w

feat: adds http status codes
  .eslintrc.json
  src/common/enums/HttpStatusCode.ts
Due: eslint --fix, prettier -w

feat: adds chalk
  bin/www/server.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier -w

feat: adds simple error handling
  src/app.ts
  src/common/middlewares/ErrorHandler.ts
  src/common/utils/logger.ts
Due: eslint --fix, prettier -w

feat: adds functionality for sorting imoports
  .eslintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier -w

fix: sorts imports
  bin/www/server.ts
  src/app.ts
  src/common/middlewares/ErrorHandler.ts
  src/services/testService/createTest/createTest.controller.ts
  src/services/testService/deleteTest/deleteTest.controller.ts
  src/services/testService/getTest/getTest.controller.ts
  src/services/testService/updateTest/updateTest.controller.ts
Due: eslint --fix, prettier -w

refactor: changes test to person
  src/app.ts
  src/services/personService/createPerson/createPerson.controller.ts
  src/services/personService/createPerson/createPerson.ts
  src/services/personService/deletePerson/deletePerson.controller.ts
  src/services/personService/deletePerson/deletePerson.ts
  src/services/personService/getPerson/getPerson.controller.ts
  src/services/personService/getPerson/getPerson.ts
  src/services/personService/routes.ts
  src/services/personService/updatePerson/updatePerson.controller.ts
  src/services/personService/updatePerson/updatePerson.ts
  src/services/testService/routes.ts
Due: eslint --fix, prettier -w

refactor: updates package.json and tsconfig
  package-lock.json
  package.json
  tsconfig.json
Due: prettier -w

refactor: changes
  .gitignore
  bin/www/normalizePort.ts
  bin/www/server.ts
  package-lock.json
  package.json
  src/common/middlewares/ErrorHandler.ts
  src/common/utils/logger.ts
  src/services/personService/routes.ts
  tsconfig.json
Due: eslint --fix, prettier -w

refactor: changes eslint and prettier settings
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier -w

refactor: changes misc settings
  .eslintrc.json
  .vscode/settings.json
  docker-compose.yml
  package-lock.json
  package.json
  tsconfig.json
Due: prettier -w

refactor: changes test to person
  src/services/personService/createPerson/createPerson.controller.ts
  src/services/personService/createPerson/createPerson.ts
  src/services/personService/deletePerson/deletePerson.controller.ts
  src/services/personService/deletePerson/deletePerson.ts
  src/services/personService/getPerson/getPerson.controller.ts
  src/services/personService/getPerson/getPerson.ts
  src/services/personService/updatePerson/updatePerson.controller.ts
  src/services/personService/updatePerson/updatePerson.ts
Due: eslint --fix, prettier -w

feat: adds typeorm, model and migrations
  .env.example
  .eslintrc.json
  bin/www/server.ts
  docker-compose.yml
  package.json
  src/database/config.ts
  src/database/migrations/1679412557348_table_person.ts
  src/database/models/Person.ts
Due: eslint --fix, prettier -w

fix: removes ts-ignore
  src/app.ts
Due: eslint --fix, prettier -w

feat: adds yup and input parsers
  package.json
  src/common/parsers/parseBody.ts
  src/common/parsers/parsePath.ts
  src/common/parsers/parseQuery.ts
  src/common/parsers/transformFunctions/parseDateString.ts
Due: eslint --fix, prettier -w

feat: adds package lock
  package-lock.json
Due: prettier -w

feat: adds logic for person creation
  src/app.ts
  src/database/models/Person.ts
  src/services/personService/createPerson/bodySchema.ts
  src/services/personService/createPerson/createPerson.controller.ts
  src/services/personService/createPerson/createPerson.ts
  src/services/personService/routes.ts
Due: eslint --fix, prettier -w

feat: adds delete person logic
  src/common/parsers/parsePath.ts
  src/services/personService/deletePerson/deletePerson.controller.ts
  src/services/personService/deletePerson/deletePerson.ts
  src/services/personService/deletePerson/pathSchema.ts
  src/services/personService/routes.ts
Due: eslint --fix, prettier -w

refactor: changes database config
  docker-compose.yml
  src/database/config.ts
Due: eslint --fix, prettier -w

refactor: improves getPerson and adds schema validation
  src/services/personService/getPerson/getPerson.controller.ts
  src/services/personService/getPerson/getPerson.ts
  src/services/personService/getPerson/pathSchema.ts
Due: eslint --fix, prettier -w

refactor: adds updatePerson functionality and adds schema validation
  src/services/personService/updatePerson/bodySchema.ts
  src/services/personService/updatePerson/pathSchema.ts
  src/services/personService/updatePerson/updatePerson.controller.ts
  src/services/personService/updatePerson/updatePerson.ts
Due: eslint --fix, prettier -w

fix: fixes variable names
  src/services/personService/createPerson/createPerson.ts
Due: eslint --fix, prettier -w

feat: adds seeding functionality and initial seed
  .eslintrc.json
  package-lock.json
  package.json
  src/database/config.ts
  src/database/seeds/person.seeder.ts
Due: eslint --fix, prettier -w

fix: fixes no unused vars issue
  src/middlewares/ErrorHandler.ts
Due: eslint --fix, prettier -w

feat: implements central error handling, AppError, winston logger
  .env.example
  .eslintrc.json
  .gitignore
  README.md
  bin/www/server.ts
  package-lock.json
  package.json
  src/app.ts
  src/common/enums/Environment.ts
  src/common/errors/AppError.ts
  src/common/parsers/parseBody.ts
  src/common/parsers/parsePath.ts
  src/common/parsers/parseQuery.ts
  src/common/utils/logger.ts
  src/middlewares/ErrorHandler.ts
  src/services/personService/getPerson/getPerson.ts
  src/services/personService/updatePerson/updatePerson.ts
Due: eslint --fix, prettier -w

refactor: trims input strings
  src/services/personService/createPerson/bodySchema.ts
  src/services/personService/updatePerson/bodySchema.ts
Due: eslint --fix, prettier -w

feat: adds comment
  src/app.ts
Due: eslint --fix, prettier -w
